.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-de-fundo-menu);
    position: relative;
}

.cabecalho__titulo{
    display: none;
}

.cabecalho__menu-hamburguer{
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 32px;
    height: 24px;
    padding: 24px;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.menu{
    position: absolute;
    top:100%;
    left: -200%;
    transition: 0.7s;
}

.menu__checkbox{
    display: none;
}

.menu__checkbox:checked ~ .menu {
    position: absolute;
    top:100%;
    left: 0%;
    z-index: 10;
}

.menu__lista{
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: var(--cor-de-fundo-menu);
    width: 70vw;
}


.menu__lista__titulo{
    text-decoration: none;
    color: #EB9B00;
    font-weight: 700;
    padding: 12px 0 12px 24px;
    width: 100%;
    text-transform: uppercase;
}

.menu__lista__item{
    align-items: center;
    width: 100%;
}

.menu__lista__link{
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 12px 0 12px 24px;
    color:  var(--cor-texto-menu);
    text-transform: uppercase;
}

.menu-tablet{
    display: none;
}

/* Visualizacao TABLET */

@media screen and (min-width: 1024px) {
    .cabecalho__menu-hamburguer{
        display: none;
    }

    .cabecalho__titulo{
        display: block;
        font-size: 30px;
        margin-right: 3em;
    }

    .cabecalho__titulo__destaque{
        font-weight: 700;
    }

    .menu-tablet{
        display: block;
    }

    .menu-tablet__lista{
        display: flex;
    }

    .menu-tablet__lista__item{
        position: relative;
    }

    .menu-tablet__lista__link{
        text-decoration: none;
        padding: 10px;
        cursor: pointer;
    }

    .menu-tablet__lista__categoria{
        position: absolute;
        background-color: var(--cor-de-fundo-menu);
        display: none;
    }
    
    .menu-tablet__lista__categoria__item{
       
    }

    .menu-tablet__lista__categoria__link{
        text-decoration: none;
        color: var(--cor-texto-menu);
        display: block;
        padding: 1em 1.5em;
    }

    .menu-tablet__lista__categoria__item a:hover{
        background: var(--cor-fundo-gradient);
        color: var(--cor-texto-claro);
    }

    .menu-tablet > ul li:hover > ul,
    ul li ul:hover { 
      display: block;
      margin-top: 0.5em;
    }
    

    .favoritos{
        display: none;
    }
}